/* Base Styles */
body {
  font-family: "Arial";
}

img {
  max-width: 100%;
}

/* Header */
header {
  background-color: #000;
  border: 2px solid red;
  width: 100%;
}

header nav ul li a {
  font-size: 18px;
  color: #FFF;
}

header nav ul li a:hover {
  color: blue;
}
